* {
    font-family: "carrotflower", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;

}

h2 {
    font-size: 50px;
    /* line-height: 50px; */
}

.ref {
    height: 75vh;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
}

.top {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
}

.inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.berry {
    margin-left: 20px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 1rem;
}


/* ammo */
.ammo{
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    /* color: #DAA06D; */
    padding-top: 0.4em;
    /* padding-bottom: 0.5em; */
    padding-left: 2em;
    padding-right: 2em;
    border: 2px dashed #DAA06D;
    border-radius: 55px;
    /* background-color: #EADDCA; */
    /* box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5); */
    transition: .1s ease-in-out, .4s color;
}

.rocket {
    position: absolute;
    top: 100px;
    right: 92px;
    z-index: -1;
    transform: rotate(180deg);
    transition: all .3s ease-in-out;
}



.ammo:hover .rocket {
    z-index: auto;
    animation: muovi-razzo 1.8s linear;
    transform: rotate(0deg);
}

@keyframes muovi-razzo {
    from {
      transform: rotate(180deg);
    }
  
    25% {
      transform: translate3d(40px, 32px, 0);
    }
  
    50% {
      transform: translate3d(32px, -60px, 0);
    }
  
    75% {
      transform: translate3d(0px, -60px, 0) rotate(0);
    }
  
    to {
      transform: rotate(0deg);
    }
  }
  

/* gun */

.pulsa {
    animation: pulsa 1.4s infinite;
    border-radius: 9999px;
}


@keyframes pulsa {
    0% {
        box-shadow: 0 0 0 0 #9006A1;
    }

    100% {
        box-shadow: 0 0 0 8px #fbb32f01;
    }
}

@keyframes pulsa-stella {
    0% {
        box-shadow: 0 0 0 0 #ffffff;
    }

    100% {
        box-shadow: 0 0 0 4px #fbb32f01;
    }
}

  @keyframes pulsa-active {
    0% {
      box-shadow: 0 0 0 0 #9006A1;
    }
  
    100% {
      box-shadow: 0 0 0 16px #fbb32f01;
    }
  }