.stuff{
    margin-top: 20px;
}

.date{
    margin-top: 15px;
}

@media (min-width: 720px){
    body{
        width: 80%;
    }

    h1{
        padding-left: 20px;

    }
    .other{
        display: grid;
        grid-template-columns: 1fr
    }

    li{
        padding-right: 20px;
        padding-left: 20px;
    }

    .stuff{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    }

    img{
        width: 45%;
        height: auto;
    }

    .source{
        display: block;
    }

}

@media (min-width: 1024px){
    body{
        max-width: 1350px;
        padding: 0;
    }
    .other{
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px 30px;
    }

    li{
        border: none;
    }
}